body
{
    background: linear-gradient(to right, #043aff, #3198ff);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25vh;
}
input
{
    padding:10px;
    font-size:25px;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
.weather
{
    text-align: center;
}
.weather h2
{
    font-size: 30px;
    font-family: 'Mali', cursive;
}
.weather p
{
    font-size: 30px;
    font-family: 'Mali', cursive;
}